<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>880</integer>
    <key>capHeight</key>
    <integer>733</integer>
    <key>copyright</key>
    <string>Copyright 2020 The Hahmlet Project Authors (https://github.com/hyper-type/hahmlet)</string>
    <key>descender</key>
    <integer>-205</integer>
    <key>familyName</key>
    <string>Hahmlet</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>name</key>
        <string>osf</string>
        <key>y</key>
        <integer>582</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>osf</string>
        <key>y</key>
        <integer>576</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>osf</string>
        <key>y</key>
        <integer>-154</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>osf</string>
        <key>y</key>
        <integer>-160</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeGaspRangeRecords</key>
    <array>
      <dict>
        <key>rangeGaspBehavior</key>
        <array>
          <integer>1</integer>
          <integer>3</integer>
        </array>
        <key>rangeMaxPPEM</key>
        <integer>15</integer>
      </dict>
      <dict>
        <key>rangeGaspBehavior</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>2</integer>
        </array>
        <key>rangeMaxPPEM</key>
        <integer>20</integer>
      </dict>
      <dict>
        <key>rangeGaspBehavior</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>2</integer>
          <integer>3</integer>
        </array>
        <key>rangeMaxPPEM</key>
        <integer>65535</integer>
      </dict>
    </array>
    <key>openTypeHeadCreated</key>
    <string>2020/06/08 12:44:01</string>
    <key>openTypeHheaAscender</key>
    <integer>1160</integer>
    <key>openTypeHheaDescender</key>
    <integer>-288</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Minjoo Ham &amp; Mark Frömberg</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>hypertype</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://hypertype.xyz</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>880</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-120</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>HYPE</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1160</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>288</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-6</integer>
      <integer>0</integer>
      <integer>486</integer>
      <integer>492</integer>
      <integer>515</integer>
      <integer>521</integer>
      <integer>733</integer>
      <integer>739</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-211</integer>
      <integer>-205</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>29</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>39</integer>
      <integer>36</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Hahmlet Thin</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Thin</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>486</integer>
  </dict>
</plist>
